# Base URL of the backend FastAPI service
NEXT_PUBLIC_API_BASE_URL=https://h2-0.onrender.com

# Public site URL used for sitemap + canonical + OpenGraph
NEXT_PUBLIC_SITE_URL=https://immohorizon.com

# Google site verification token (Search Console)
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=df-YUga-WwjKVQGNgHeqbykIibgxiav5Wq4WbetFrMc
